<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <script src="https://unpkg.com/@typicode/pegasus/dist/pegasus.min.js"></script>
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.42.2/mapbox-gl.js"></script>
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.42.2/mapbox-gl.css" rel="stylesheet" />
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.1.1/mapbox-gl-geocoder.min.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.1.1/mapbox-gl-geocoder.css" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  </head>
  <body class="ragtag-marchon-map">
    <div id="mapApp">
      <div id="map" class="content"></div>
      <div id="affiliate" class="content">
        <div v-if="activeGroup">
          <h3>{{activeGroup.name}}</h3>
          <h4>{{activeGroup.location}}</h4>
          <div class="social-links">
            <span v-if="activeGroup.facebook" class="social-link">
              <a :href="activeGroup.facebook">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
            </span>
            <span v-if="activeGroup.twitter" class="social-link">
              <a :href="activeGroup.twitter">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
            </span>
            <span v-if="activeGroup.instagram" class="social-link">
              <a :href="activeGroup.instagram">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </span>
          </div>
          <div v-if="activeGroup.photoUrl" class="photo">
            <img :src="activeGroup.photoUrl" class="img-thumbnail">
          </div>
          <div v-if="activeGroup.event" class="event">
            <div class="event-date">
              <time :datetime="activeGroup.eventMeta.ymd" class="icon">
                <span class="event-weekday">{{activeGroup.eventMeta.weekday}}</span>
                <span class="event-month">{{activeGroup.eventMeta.month}}</span>
                <span class="event-date">{{activeGroup.eventMeta.day}}</span>
              </time>
            </div>
            <div class="event-title">
              <a :href="activeGroup.eventLink">{{activeGroup.event}}</a>
            </div>
          </div>
          <div class="contact">
            Contact: <a :href="activeGroup.mailto">{{activeGroup.contactName}}</a>
          </div>
          <div v-if="activeGroup.website">
            Website: <a class="website" :href="activeGroup.website">{{activeGroup.website}}</a>
          </div>
          <div v-if="activeGroup.other">
            Other: <a class="website" :href="activeGroup.other">{{activeGroup.other}}</a>
          </div>
        </div>
        <div v-else>
          <div>
            Click on any star to see information about that affiliate, or enter your location in the search box to find your nearest affiliate.
          </div>
          <h4>Upcoming events</h4>
          <ul class="list-group">
            <li v-for="ev in sortedUpcomingEvents" class="list-group-item event">
              <div class="event-date">
                <time :datetime="ev.ymd" class="icon">
                  <span class="event-weekday">{{ev.weekday}}</span>
                  <span class="event-month">{{ev.month}}</span>
                  <span class="event-date">{{ev.day}}</span>
                </time>
              </div>
              <div class="event-title">
                <a :href="ev.link">{{ev.name}}</a> - {{ev.location}}
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="userMarker">
      <i class="fa fa-circle"></i>
    </div>

    <link rel="stylesheet" id="vc_google_fonts_roboto100100italic300300italicregularitalic500500italic700700italic900900italic-css" href="//fonts.googleapis.com/css?family=Roboto%3A100%2C100italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C700%2C700italic%2C900%2C900italic" type="text/css" media="all">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>
    <link href="map.css" rel="stylesheet" />
    <script src="map.js" id="mapjs" data-token="pk.eyJ1IjoibWFyY2gtb24iLCJhIjoiY2o5N3JkMGE2MDM2aTJxcGFwYXQ4MnNkNiJ9.S51iIlKgalNz3Usq_1_yCQ"></script>
  </body>
</html>
