body {
  margin: 0;
  padding: 0;
  background-color: #EE354E;
  font-family: 'Roboto';
}

.content {
  border-radius: 4px;
}

#map {
  width: 70%;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

#affiliate {
  position: absolute;
  top: 10px;
  left: 72%;
  right: 10px;
  bottom: 10px;
  height: 96%;
  background-color: #F5E9C9;
  padding: 15px;
}

.social {
  margin-right: 10px;
  font-size: 1.2em;
}

ul {
  margin: 0;
  padding-left: 20px;
}

.photo, .social-links {
  margin-bottom: 10px;
}

.social a {
  color:  #000;
}

.img-thumbnail {
  background-color: #000;
  border: 3px solid #EE354E;
}

h3 {
  margin-top: 10px;
  font-size: 20px;
}

#userMarker {
  color: #1BAC9E;
}
